<div ng-if="currentUser">
	<p class="text-info">Acerca de la guerra de los coders</p>
	<div id="page-wrapper" class="clearfix" ng-controller="BienvenidoCtrl">
		<div>
			<table width="100%">
					<tr>
						<td colspan="2" class="text-small-bienvenido">
							Bienvenido a la guerra de los coders</br>
							La guerra de los coders es un juego de programaci&oacute;n donde el objetivo es codificar un robot para competir contra otros robots en un campo de batalla. El jugador es el programador del robot, que no tendr&aacute; influencia directa en el juego.<br/>
							En su lugar, el jugador debe escribir la Inteligencia Artificial del robot dici&eacute;ndole c&oacute;mo comportarse y reaccionar a los acontecimientos que ocurren en el campo de batalla.<br/>
							El juego est&aacute; dise&ntilde;ado para ayudarle a aprender Java, y divertirse haci&eacute;ndolo. Los robots est&aacute;n escritos en el lenguaje de programaci&oacute;n Java &#8482;<br/>
							Las batallas tienen lugar en un campo de batalla, donde los peque&ntilde;os robots de 6 ruedas autom&aacute;ticas pelean hasta que s&oacute;lo queda uno. Tenga en cuenta que el juego no contiene sangre, gente, política, etc. Las batallas son simplemente por la emoci&oacute;n de la competencia que tanto nos apasiona.<br/><br/>
						</td>
					</tr>
					<tr>
						<td class="text-small-bienvenido">
							Juego basado en el proyecto open source robocode
							<br/>
							Para más información y documentación visit&aacute;:
							http://robowiki.net/wiki/Main_Page"
						</td>
						<td class="text-small-bienvenido" align="right">
							<a href="http://robocode.sourceforge.net/" target="_blank">
								<img ng-src="img/robocode_logo_tanks.png" title="robocode.sourceforge.net" />
							</a>
							<br/>
							Original author(s) Mathew Nelson<br>
							Developer(s) Flemming N. Larsen
						</td>
					</tr>
			</table>
		</div>
	</div>
</div>
